.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    color: orangered;
    font-weight: 900;
}
.header a{
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
}
@media only screen and (max-width: 576px){
    .flex{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }
}